@import 'bourbon/bourbon';
$visual-grid: false;
@import 'neat/neat';

* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
  background:#f0f0f0;
}

.header {
  width:100%;
  height:75px;
  background:#252525;
  border-bottom: 1px solid #333;
}

.header-container {
  width:1080px;
  margin:0 auto;
  text-align:center;
  padding-top:15px;
}

.header-container p {
  font-family:sans-serif;
  font-size:24px;
  margin:0;
  padding:10px 0 0 0;
  color:#dfdfdf;
}

.header-container .header-subtitle {
  font-family:sans-serif;
  font-size:12px;
  margin:5px;
  padding:0;
  color:#dfdfdf;
}


.container-login-page {
  width: 1080px;
  margin: 50px auto;
}

.login-wrapper-top {
  margin: 0 auto;
  background: #f0f0f0;
  height:400px;
  padding:20px;

  ul {
    list-type: none;
    margin: 0;
    padding-left:0;
  }

  li {
    display: inline-block;
  }
}



.versus-container {
  display:inline-block;
  text-align:center;
  font-size:36px;
  width:300px;
  font-family:sans-serif;
  text-transform:lowercase;
}

.versus {
  display:block;
  color:#fff;
}


/* .select-cop-character {
  display:block;
  float:right;
  width:200px;
  height:300px;
  text-align:center;
  background-image: url('../img/cop2.png');
  background-position:center center;
}

.cop-character-1 {
  display:inline-block;
  float:right;
  width:200px;
  height:300px;
  text-align:center;
  background-image: url('../img/cop2.png');
  background-position:center center;
}

.cop-character-2 {
  display:inline-block;
  float:right;
  width:200px;
  height:300px;
  text-align:center;
  background-image: url('../img/deputy-hunger.jpg');
  background-position:center center;
}
 */

#progressbar {
  width:400px;
}

#progressbar1 {
  transform:rotate(180deg);
  -ms-transform:rotate(180deg); /* IE 9 */
  -moz-transform:rotate(180deg); /* Firefox */
  -webkit-transform:rotate(180deg); /* Safari and Chrome */
  -o-transform:rotate(180deg); /* Opera */
}

.ui-widget-header {
  border:0px solid #000 !important;
}

.ui-progressbar .ui-progressbar-value {
  margin:0 !important;
  background:red;
}


.player-accordian {
  display:inline-block;
}

ul.player-accordian {
  padding-left:0;
  margin:0 auto;
}

.accordian-control {
  margin:10px auto;
  text-align:center;
  border: 0px solid #dfdfdf;
  outline:0;
  background:transparent;
  color:#dfdfdf;
  font-size:36px;
  text-transform:uppercase;
  letter-spacing:-1px;
  font-weight:bold;
}

 .para {
   display: none;
   text-align:center;
 }

.cops-list {
  display:inline-block;
  width:375px;
  text-align:center;
  vertical-align:top;
}

.donuts-list {
  display:inline-block;
  width:375px;
  text-align:center;
  vertical-align:top;

}

.character-selection {
  display:inline-block;
}

.para ul {
  display:inline;
  list-style:none;
  text-align:center;
  padding-left:0;
}

.para li {
  display:inline-block;
  text-align:center;
}

.cop1-image {
  margin:15px auto;
  width:150px;
  height:225px;
  background:url('../img/reno1.jpg');
  background-position:center center;
  background-size:contain;


}

.cop2-image {
  margin:15px auto;
  width:150px;
  height:225px;
  background:url('../img/reno_lady.jpg');
  background-position:center center;
  background-size:contain;

}

.donut1-image {
  margin:15px auto;
  width:150px;
  height:225px;;
  background:url('../img/jasondonut.jpg');
  background-position:center center;
  background-size:contain;

}

.donut2-image {
  margin:15px auto;
  width:150px;
  height:225px;;
  background:url('../img/freddy copy.jpg');
  background-position:center center;
  background-size:cover;

}

#cop-1, #cop-2, #donut-1, #donut-2 {

  color:#fff;
}

.username {
  text-align:center;
  display:block;
}

.username-input {
  height:30px;
  width:300px;
  outline:0;
  border-radius:4px;
  border:1px solid #555;
  text-align:center;
  background:#333;
  color:#dfdfdf;
}



.login-wrapper-bottom {
  margin: 0 auto;
  background: #000;
  display: block;;
  padding:30px 0 30px 0;
  text-align:center;
}

.active-gamer {
  height:45px;
  padding-left:45px;
}

.player-filler {
  display: inline-block;
  color:#fff;
  font-family:sans-serif;
  text-transform:uppercase;
  font-weight:bold;
}

.filler-active {
  display:inline-block;
  color:#fff;
  font-family:sans-serif;
  text-transform:uppercase;

}



.donut-player-select {
  float:left;

  .select-character {
    width: 200px;
  }
}


.cop-player-select {
  float:right;

  .select-character {
    width: 200px;
  }
}





.donut-player-select,
.versus-container,
.cop-player-select {
  display: inline-block;
  vertical-align: middle;
}

.game-container {
  width: 1080px;
  margin: 50px auto;
  border:1px solid #333;
  border-radius:5px;
  background:#252525;
  padding-bottom:50px;
}

.game-health {
  width:1000px;
  margin:15px auto;
  display:block;
  height:60px;
  padding:15px 0 15px 0;
}

.player1-health {
  display:inline-block;
  width:400px;
  height:50px;
  float:left;
  background:transparent;
}

.player2-health {
  display: inline-block;
  width: 400px;
  height: 50px;
  float: right;
  background: transparent;
}


/////////////////////
/* GAME SCREEN */
/////////////////////

.game-screen {
  width:1000px;
  display:block;
  height:360px;
  padding:50px 15px 20px 15px;
  border:1px solid #333;
  background:#000;
  background-position:center center;
  background-size:cover;
  margin:0 auto;
}

.player-left {
  position: relative;
  display:inline-block;
  width:200px;
  height:300px;
  left:0;
  vertical-align:bottom;
  border:0px solid #000;
  margin-top:-20px;
}

.player-right {
  position: relative;
  display:inline-block;
  width:200px;
  height:300px;
  float:right;
  right:0;
  vertical-align:top;
  border:0px solid #000;
  margin-top:-20px;


}

/* GAME CONSOLE */

.game-console {
  width: 1000px;
  margin: 0 auto;
  height:150px;
  background:#000;
  text-align:center;
  border:1px solid #333;
}

.attack-button {
  display:inline-block;
  margin:0 auto;
  background:url('../img/gold-button.png');
  background-size:contain;
  width:100px;
  height:100px;
  float: left;
  margin-left: 30px;
  padding-top: 0px;
  margin-top: 22px;
}

.attack-button p {
  color: #FFF;
  text-shadow: 1px 1px 3px #000;
  text-transform: uppercase;
  font-size: 12px;
  font-family: sans-serif;
  font-weight: bold;
  padding-top: 35px;
}

#nuk-button {
  background:url('../img/nuk1.jpg');
  width:150px;
  height:150px;
  background-size:contain;
  float:left;

}



#copAttack1,
#copAttack2,
#copAttack3 {
  height:50px;
  width:150px;
  font-size:24px;
  background: #5F7FFC;
  color:#fff;
  border:0;
  border: 2px solid #EA556C;
}

#donutAttack1,
#donutAttack2,
#donutAttack3 {
  height:50px;
  width:150px;
  font-size:24px;
  background: #EA556C;
  color:#fff;
  border:0;
  border: 2px solid #5F7FFC;

}

.hidden {
  display:none;
}
