@import 'bourbon/bourbon';
$visual-grid: false;
@import 'neat/neat';

* {
  box-sizing: border-box;
}

body {
  margin:0;
  padding:0;
}



.container-login-page {
  width: 1080px;
  margin: 50px auto;
}

.login-wrapper-top {
  margin: 0 auto;
  background: #f0f0f0;
  height:400px;

  ul {
    list-type: none;
    margin: 0;
    padding-left:0;
  }

  li {
    display: inline-block;
  }
}

.donut-player {
  display:inline-block;
  float:left;
  width:200px;
  height:300px;
  text-align:center;
  background-image: url('../img/donut.png');
  background-position:center center;
}

.versus {
  display:inline-block;
  width:180px;
  text-align:center;
  font-size:72px;
  font-family:sans-serif;
  text-transform:lowercase;
}

.cop-player {
  display:inline-block;
  float:right;
  width:200px;
  height:300px;
  text-align:center;
  background-image: url('../img/cop2.png');
  background-position:center center;
}


.login-wrapper-bottom {
  margin: 0 auto;
  background: #555;
  display: block;
  height: 20px;
}

button {
  text-align: center;
  border: 1px solid blue;
}

.donut-player-select {
  margin-left:50px;
  margin-right: 40px;

  .select-character {
    padding-right: 50px;
    width: 200px;
  }
}


.cop-player-select {
  margin-right: 50px;
  margin-left: 40px;

  .select-character {
    padding-left: 50px;
    width: 200px;
  }
}




.donut-player img {
  width: 150px;
  border-radius: 20px;
}

.cop-player img {
  width: 150px;
  border-radius: 20px;
}

.donut-player-select,
.versus,
.cop-player-select {
  display: inline-block;
  vertical-align: middle;
}







.game-container {
  width: 1080px;
  margin: 50px auto;
  border:1px solid #000;
}

.game-health {
  width:1000px;
  margin:15px auto;
  display:block;
  height:60px;
  padding:15px 0 15px 0;
}

.player1-health {
  display:inline-block;
  width:400px;
  height:50px;
  float:left;
  background:#555;
}

.player2-health {
  display: inline-block;
  width: 400px;
  height: 50px;
  float: right;
  background: #555;
}



/* GAME SCREEN */

.game-screen {
  width:1000px;
  display:block;
  height:360px;
  padding:50px 15px 15px 15px;
  background:url('../img/randy.jpg');
  background-position:center center;
  background-size:cover;
  margin:0 auto;
}

.player-left {
  display:inline-block;
  width:200px;
  height:300px;
  float:left;
  vertical-align:bottom;
}

.player-right {
  display:inline-block;
  width:200px;
  height:300px;
  float:right;
  vertical-align:bottom;
}

/* GAME CONSOLE */

.game-console {
  width: 1000px;
  margin: 0 auto;
  height:200px;
  background:#dfdfdf;
  text-align:center;
  padding-top:50px;
}

.attack-button {
  height:50px;
  width:150px;
  font-size:24px;
  background:blue;
  color:#fff;
  border:0;
}

.hidden {
  display:none;
}
